.paymentMainDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 56px;
  margin-bottom: 120px;
  .paymentLeftSide {
    width: 70%;
    h5 {
      font-size: 20px;
      font-weight: 600;
      color: #1d2123;
      line-height: 28px;
      padding-bottom: 20px;
    }
    .infoLine {
      height: 1px;
      background-color: #828282;
      margin: 25px 0px;
    }
    .paymentInformation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 25px;
      h6 {
        font-size: 20px;
        font-weight: 600;
        color: #1d2123;
        line-height: 28px;
      }
      ul {
        margin-top: 20px;
        li {
          font-size: 14px;
          font-weight: 400;
          color: #1d2123;
          line-height: 20px;
          padding-top: 5px;
        }
      }
      .checkIconPayment {
        color: #2dd06e;
        cursor: pointer;
      }
      .remakeSpanPayment {
        font-size: 14px;
        font-weight: 400;
        color: #2d9cdb;
        line-height: 20px;
        padding-right: 10px;
        margin-top: 2px;
        cursor: pointer;
      }
      .checkIconMobilePayment {
        display: none;
      }
      .checkIconMobileTopPayment {
        display: none;
      }
    }
    .saveButtonPayment {
      width: 176px;
      border: none;
      height: 48px;
      background-color: #2dd06e;
      color: white;
      font-size: 14px;
      border-radius: 8px;
      margin-top: 35px;
      cursor: pointer;
      display: flex;
      margin: 0 auto;
      align-items: center;
      padding-left: 60px;
      margin-top: 48px;
    }
    .onlinePayment {
      display: flex;
      justify-content: space-evenly;
      margin-top: 70px;
      .online {
        width: 312px;
        height: 48px;
        background-color: white;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          margin-left: 10px;
        }
      }
      .cash {
        width: 312px;
        height: 48px;
        background-color: #f2f2f2;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          margin-left: 10px;
        }
      }
    }
  }
  .paymentRightSide {
    width: 25%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 310px;
    border-radius: 8px;
    margin-left: 50px;
    margin-top: 30px;
    h6 {
      font-size: 20px;
      line-height: 28px;
      font-weight: 600;
      color: #1d2123;
      margin-left: 25px;
      margin-top: 20px;
    }
    ul {
      position: relative;
      li {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        span {
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          color: #1d2123;
        }
      }
      .totalLiDiv {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        .totalName {
          font-weight: bold;
        }
        .total {
          color: #db2c66;
          font-weight: bold;
          margin: 0px;
          padding: 0px;
        }
      }
      .totalLine {
        height: 1px;
        background-color: #828282;
        width: 80%;
        margin-left: 30px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .paymentMainDiv {
    flex-direction: column;
    width: 90%;
    justify-content: center;
    .paymentLeftSide {
      width: 90%;
      margin: 0 auto;
      h5 {
        padding-bottom: 0px;
      }
      .paymentInformation {
        flex-direction: column;
        p {
          margin-top: 20px;
        }
        .checkIconPayment {
          display: none;
        }
        .remakeSpanPayment {
          display: none;
        }
        .checkIconMobilePayment {
          display: block;
          position: absolute;
          bottom: 0px;
          color: #2dd06e;
        }
        .checkIconMobileTopPayment {
          display: block;
          position: absolute;
          bottom: 95px;
          color: #2dd06e;
          right: 15px;
          span {
            color: #2d9cdb;
            padding-right: 10px;
          }
          .checkTopPayment {
            position: absolute;
          }
        }
      }
      .saveButtonPayment {
        width: 312px;
        padding-left: 130px;
      }
      .onlinePayment {
        flex-direction: column;
        margin-top: 0px;
        .cash {
          margin-top: 10px;
        }
      }
    }
    .paymentRightSide {
      width: 90%;
      margin-left: 20px;
    }
  }
}
