@import "../../styles/breakpoints";
@import "../../styles/mixins";

nav {
  width: 100%;
  border-bottom: 1px solid var(--main-default);

  .nav-logo {
    display: flex;
    align-items: center;
    .menu-icon {
      display: flex;
      flex-direction: column;
      gap: 7px;
      margin-right: var(--space-md);
      margin-left: var(--space-xs);
      transition: all 0.3s ease-in-out;
      z-index: 20;
      > div {
        transition: all 0.3s ease-in-out;
        width: 30px;
        height: 3px;
        border-radius: 3px;
        background-color: var(--gray-1);
      }
      @include md {
        display: none;
      }
    }
    .open {
      position: relative;
      width: 30px;
      gap: 0;
      > div {
        position: absolute;
        width: 35px;
      }
      > div:nth-child(1) {
        transform: rotate(-45deg);
      }
      > div:nth-child(2) {
        display: none;
      }
      > div:nth-child(3) {
        transform: rotate(45deg);
      }
    }
  }
  .desktop-search {
    @include max-md {
      display: none;
    }
    width: 60%;
    max-width: 591px;
  }
  .mobile-search {
    padding: var(--space-xs);
    @include md {
      display: none;
    }
  }
  .nav-elements {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    padding: var(--component-padding);
  }
  .container {
    width: 96%;
    > .row:first-child {
      gap: var(--space-sm);
      margin-top: var(--space-sm);
      margin-bottom: var(--space-xxs);
    }
    .nav-links {
      @extend .row;
      max-width: 900px;
      color: var(--gray-2);
      .nav-link {
        padding-block: var(--space-xs);
        width: max-content;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
          color: var(--main-hover);
        }
        &.active,
        &:active {
          color: var(--main-pressed);
        }
      }
    }

    .row {
      max-height: 50px;
    }
    .row:nth-child(2) {
      @include max-md {
        display: none;
      }
    }
  }
}
.mainSubDiv {
  height: 450px;
  position: absolute;
  z-index: 10;
  left: 0px;
  bottom: 193px;
}
.menuSubCategories {
  width: 1536px;
  height: 450px;
  position: absolute;
  // z-index: 10;
  display: none;
  background-color: white;
}

.subImg {
  width: 500px;
  height: 230px;
}
.parentLi:hover {
  .menuSubCategories {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .mainSubDiv {
    border-top: 10px solid #2dd06e;
  }
}
.subText {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #4f4f4f;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.subChildrenText {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #4f4f4f;
  text-align: left;
}
.mobileMenuDiv {
  display: none;
}
.project {
  display: none;
}
.search-Img {
  display: none;
}
@media screen and (max-width: 600px) {
  .menuDesk {
    display: none;
  }
  nav {
    .nav-logo {
      .project {
        display: block;
        font-size: 32px;
        font-weight: 600;
      }
      .cancel-X {
        color: red;
      }
      .search-Img {
        display: block;
        margin-left: 120px;
        cursor: pointer;
      }
    }
    .nav-elements {
      display: none;
    }
    .mobile-search {
      display: none;
    }
  }

  .nav-logo .telloImg {
    display: none;
  }
  .mobileMenuDiv {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 10;

    .nav-links {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      .true-X {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 13px;

        .project {
          display: block;
          font-size: 32px;
          font-weight: 600;
          margin-right: 120px;
          position: relative;
        }
        .cancel-X {
          color: red;
        }
        .search-Img {
          display: block;
          position: absolute;
          right: 20px;
          top: 25px;
          cursor: pointer;
        }
      }
      .parentLi {
        font-size: 20px;
        line-height: 28px;
        color: #4f4f4f;
        padding: 22px 0px;
        display: flex;
        flex-direction: row;
        cursor: pointer;
      }
    }
  }
}
