.userInfoMainDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 56px;
  margin-bottom: 120px;
  .userInfoLeftSide {
    width: 70%;
    h5 {
      font-size: 20px;
      font-weight: 600;
      color: #1d2123;
      line-height: 28px;
      padding-bottom: 20px;
    }
    .infoLine {
      height: 1px;
      background-color: #828282;
      margin: 25px 0px;
    }
    .fillInformation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 25px;
      h6 {
        font-size: 20px;
        font-weight: 600;
        color: #1d2123;
        line-height: 28px;
      }
      .checkIcon {
        color: #2dd06e;
        cursor: pointer;
      }
      .checkIconMobile {
        display: none;
      }
      input {
        width: 312px;
        height: 48px;
        background-color: #f2f2f2;
      }
      .numberLoginDiv {
        display: flex;
        justify-content: center;
        margin-top: 0px;
        p {
          color: #bdbdbd;
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          color: #4f4f4f;
        }
        .selectAndInput {
          width: 312px;
          height: 48px;
          border-radius: 8px;
          background-color: #f2f2f2;
          margin-top: 10px;
          border: 2px solid #e0e0e0;
        }
        select {
          background-color: #f2f2f2;
          margin-left: 20px;
        }
        input {
          width: 100px;
          border: none;
          height: 30px;
          background-color: #f2f2f2;
          margin-left: 20px;
        }
      }
    }
    .saveButton {
      width: 176px;
      border: none;
      height: 48px;
      background-color: #2dd06e;
      color: white;
      font-size: 14px;
      border-radius: 8px;
      margin-top: 15px;
      cursor: pointer;
    }
  }
  .userInfoRıghtSide {
    width: 25%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 310px;
    border-radius: 8px;
    margin-left: 50px;
    margin-top: 30px;
    h6 {
      font-size: 20px;
      line-height: 28px;
      font-weight: 600;
      color: #1d2123;
      margin-left: 25px;
      margin-top: 20px;
    }
    ul {
      position: relative;
      li {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        span {
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          color: #1d2123;
        }
      }
      .totalLiDiv {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        .totalName {
          font-weight: bold;
        }
        .total {
          color: #db2c66;
          font-weight: bold;
          margin: 0px;
          padding: 0px;
        }
      }
      .totalLine {
        height: 1px;
        background-color: #828282;
        width: 80%;
        margin-left: 30px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .userInfoMainDiv {
    flex-direction: column;
    width: 90%;
    justify-content: center;
    .userInfoLeftSide {
      width: 90%;
      margin: 0 auto;
      h5 {
        padding-bottom: 0px;
      }
      .fillInformation {
        flex-direction: column;
        p {
          margin-top: 20px;
        }
        .checkIcon {
          display: none;
        }
        .checkIconMobile {
          display: block;
          position: absolute;
          bottom: 5px;
          color: #2dd06e;
        }
      }
      .saveButton {
        width: 312px;
      }
      .numberLoginDiv {
        p {
          margin-top: 0px;
        }
      }
    }
    .userInfoRıghtSide {
      width: 90%;
      margin-left: 20px;
    }
  }
}
