.mainAboutDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  .swiperAboutPro {
    width: 584px;
    height: 485px;
    margin-top: 0px;
  }
  .topImage {
    width: 275px;
    height: 388px;
    display: flex;
    margin: 0 auto;
  }

  .mobileButton {
    display: none;
  }
  .nameOfProduct {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #333333;
  }

  .count226 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #4f4f4f;
    margin-left: 10px;
    margin-top: 3px;
  }
  .countOfComments {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #2d9cdb;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 3px;
  }

  .newCost {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: #db2c66;
    margin-left: 5px;
  }
  .color {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #4f4f4f;
  }

  .commentsDiv {
    display: flex;
    margin-top: 17px;
  }
  .commentsDiv img {
    margin-left: 5px;
  }
  .costs {
    margin-top: 25px;
  }
  .colorsDiv {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    p {
      margin-top: 5px;
    }
    div {
      display: flex;
      flex-direction: row;
      cursor: pointer;
    }
  }
  .colorsName {
    margin-left: 20px;
    cursor: pointer;
  }
  .mainMemoryDiv {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    p {
      margin-top: 5px;
    }
    div {
      display: flex;
      flex-direction: row;
      cursor: pointer;
      div {
        width: 76px;
        height: 36px;
        background-color: gray;
        color: white;
        margin-left: 10px;
        border-radius: 8px;
        align-items: center;
        position: relative;
        span {
          position: absolute;
          margin-left: 15px;
          font-size: 14px;
          line-height: 20px;
          font-weight: 500;
        }
      }
    }
  }

  .line {
    width: 592px;
    height: 1px;
    background-color: #e0e0e0;
    margin-top: 24px;
  }
  .incremenetAndDicrement {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    button {
      width: 32px;
      height: 32px;
      background: #f2f2f2;
      color: #4f4f4f;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      padding: 5px 10px;
      border-radius: 20px;
      cursor: pointer;
    }
    .weight {
      display: none;
    }
  }
  .count {
    margin-left: 30px;
  }
  .increment {
    margin-left: 30px;
    cursor: pointer;
  }
  .addDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;
    height: 48px;
    background-color: #2dd06e;
    margin-top: 40px;
    border-radius: 8px;
    cursor: pointer;
    img {
      width: 20px;
      height: 25px;
      margin-top: 10px;
    }
    button {
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
      color: #ffffff;
      margin-left: 15px;
    }
  }
}
.commentsAndFeatures {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
}
.techFeat {
  margin-left: 30px;
}
.commentUnderSide {
  margin-left: 200px;
}
.line2 {
  height: 1px;
  background-color: #bdbdbd;
}
.mainAndAbout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}
.titleFeatures {
  display: block;
  margin-left: 120px;
  font-weight: bold;
}
.hiMan {
  width: 50%;
}

.leftSideFeatures {
  display: flex;
  justify-content: space-around;
  p {
    padding: 10px 0px;
  }
}
.titleAdvantages {
  font-weight: bold;
}
.advantageText {
  margin-top: 30px;
}
.advantageTextMobile {
  display: none;
}
.detailFooter {
  margin-top: 50px;
}
.titleFeaturesMobile {
  display: none;
}
.part1Left,
.part1Right,
.part1RightLast {
  display: none;
}
.titleAdvantagesMobile {
  display: none;
}
.white {
  width: 32px;
  height: 32px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 30px;
  margin-left: 10px;
  color: white;
}
.black {
  width: 32px;
  height: 32px;
  background-color: black;
  border-radius: 30px;
  margin-left: 10px;
  color: white;
}

.gray {
  width: 32px;
  height: 32px;
  background-color: gray;
  color: gray;
  border-radius: 30px;
  margin-left: 10px;
  color: white;
}
.ram {
  width: 76px;
  height: 36px;
  border: 1px solid black;
}

@media only screen and (max-width: 600px) {
  .mainAboutDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    .swiperAboutPro {
      width: 100%;
      height: 300px;
      margin-top: 0px;
    }
    .colorsDiv {
      margin-left: 20px;
    }
    .topImage {
      width: 152px;
      height: 214px;
      display: flex;
      margin: 0 auto;
    }

    .mySwiper2 {
      z-index: 0;
    }

    .mainMemoryDiv {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      margin-left: 20px;
      p {
        margin-top: 5px;
      }
      div {
        display: flex;
        flex-direction: row;

        div {
          width: 60px;
          height: 24px;
          background-color: gray;
          color: white;
          // margin-left: 10px;
          border-radius: 8px;
          align-items: center;
          position: relative;
          span {
            position: absolute;
            margin-left: 12px;
            font-size: 12px;
            line-height: 20px;
            font-weight: 500;
          }
        }
      }
    }
  }
  .rightSideAbout {
    margin-top: 20px;

    .nameOfProduct {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      color: #333333;

      margin-left: 15px;
    }
    .longName {
      display: none;
    }
    .commentsDiv img {
      display: none;
    }
    .count226 {
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
      color: #4f4f4f;
      margin-left: 10px;
      margin-top: 3px;
      display: none;
    }
    .countOfComments {
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
      color: #2d9cdb;
      cursor: pointer;
      margin-left: 15px;
      margin-top: 3px;
      display: none;
    }
    .costs {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 0px;
    }
    .mobileButton {
      display: block;
      width: 180px;
      height: 48px;
      background-color: #2dd06e;
      border-radius: 8px;
      cursor: pointer;
      margin-right: 20px;
    }

    .newCost {
      font-size: 18px;
      line-height: 28px;
      font-weight: 500;
      color: #db2c66;
      margin-left: 20px;
      display: block;
      margin-top: 10px;
    }
    .color {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #4f4f4f;
      margin-left: 20px;
    }
    .memory {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #4f4f4f;
    }
    .commentsDiv {
      display: flex;
      margin-top: 17px;
    }
    .commentsDiv img {
      margin-left: 5px;
    }
    .costs {
      margin-top: 25px;
    }
    .colorsDiv {
      display: flex;
      flex-direction: row;
      margin-top: 35px;
      .color {
        margin-top: 5px;
      }
    }
    .colorsName {
      margin-left: 20px;
      cursor: pointer;
    }

    .line {
      display: none;
    }
    .incremenetAndDicrement {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      button {
        width: 32px;
        height: 32px;
        background: #f2f2f2;
        color: #4f4f4f;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        padding: 5px 10px;
        border-radius: 20px;
        cursor: pointer;
      }
      .weight {
        display: block;
        color: #4f4f4f;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        margin-left: 20px;
        margin-top: 5px;
      }
      .dicrement {
        margin-left: 10px;
      }
    }
    .count {
      margin-left: 30px;
      font-weight: 600;
    }
    .increment {
      margin-left: 30px;
      cursor: pointer;
    }
    .addDiv {
      display: none;
    }
  }
  .mainAndAbout {
    display: none;
  }

  .techFeat {
    font-size: 14px;
  }
  .commentUnderSide {
    margin-right: 30px;
    color: #a8a8a8;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  .leftSideFeaturesMobile {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: #828282;
      padding: 10px 0px;
    }
  }
  .titleFeaturesMobile {
    display: block;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 30px;
  }
  .part1Left,
  .part1Right {
    display: block;
  }
  .advantageTextMobile {
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 30px;
    color: #828282;
  }
  .titleAdvantagesMobile {
    display: block;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 30px;
  }
  .part1RightLast {
    display: block;
    margin-bottom: 80px;
  }
}
